.tulis {
    text-align: center;
    margin-top: 250px;
  }
  
  .foto4 {
    margin-top: 60px;
  }
  
  .foto4 .card {
    position: relative;
    top: 30px;
    padding-left: 25px;
    left: -80px;
  }
  
  .offide {
    position: relative;
    top: 30px;
    padding-left: 25px;
    left: -80px;
  }
  
  .fotolain {
    margin-top: 100px;
    text-align: center;
  }
  
  .card-group {
    margin-top: 50px;
  }
  
  .checked {
    color: orange;
  }
  
  .tipss {
    text-align: center;
  }
  .tips {
    background-color: aliceblue;
    margin-top: 100px;
  }
  
 .icon {
    padding-right: 30px;
    padding-bottom: 30px;
  }
  
 /* .btn {
    position: relative;
    left: 200px;
  }*/
  
  
  .icon i {
    padding-right: 20px;
  }
  