

 /*slider*/
/*content*/

@media (max-width: 767px){
    .home h2 {
        font-size: 20px;
    }
}

.home h2{
    font-size: 30px;
    color: #000000;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: inherit;
}

.home div{
    width: 100px;
    height: 3px;
    background-color: #0098d8;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}


/*destinasi*/


/*Related post at: https://superdevresources.com/zoom-effect-image-css/ */

@media (max-width: 767px){
    .home h2 {
        font-size: 20px;
    }
}

.home h2{
    font-size: 30px;
    color: #009ada;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: inherit;
}

.home div{
    width: 100px;
    height: 3px;
    background-color: #0098d8;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}
.container-fluid{
    padding: 10px 100px 5px 100px;
}

.destinasi {
    padding: 5px;
}

.produk1 img
{
  width: 100%;
  height: auto;
}

.row.text-center{
    margin: 0 auto;
    padding-top: 10px;
}

/*zoom efect*/

.produk1 {
    width: 100%;
    margin: 0 auto;
  }
  
  .zoom-effect {
    position: relative;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .kotak {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .kotak img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    width: 700px;
  }
  
  .zoom-effect:hover .kotak img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }


  /*listdestinasi*/

  .listdestinasi ul li
  {
      list-style: none;
  }

  .listdestinasi ul a{
      text-decoration: none;
      border-bottom: 0;
      color: #000000;
  }
